footer {  

    width: 100%;
    padding-top:0;
    padding-bottom:10px;
    font-size:.8rem;
    margin-top:30px;
}

.concert-listing{
    border:1px solid;
    width:100%;
    padding:5px;
    background-color:white;
    margin:20px;
}

.concert-listing img{
    border:1px solid;
    margin-right:10px;
}

.clear{
    clear:both;
}

a:link, a:hover, a:visited {color:black;}

